<router-outlet></router-outlet>

<centric-upload-area
  message="Versleep en plaats uw file hier"
  extraMessage="Accepteert: JSON"
  buttonText="Upload file"
  [files]="files"
  [multiple]="true"
  [ariaLabelButtonUpload]="'Upload files'"
  [ariaDescriptionButtonUpload]="'Accepteert: JSON'"
  (filesUploaded)="getUploadedFiles($event)"
  (fileDuplicated)="errorIfDuplicated($event)"
  (filesLastAdded)="onFilesAdded($event)"
></centric-upload-area>

<div
  *ngIf="files !== undefined && files.length > 0"
  class="centric-upload-files-list-container"
>
  <div class="upload-files-list" *ngFor="let file of files; let i = index">
    <centric-icon2 class="icon-file" svgIcon="file_r" size="48">
    </centric-icon2>
    <div class="upload-area-description file-content">
      <span> {{ file.name }}</span>
      <p class="line-clamp-1">
        Date changed: {{ currentDate | date : "dd/MM/YYYY" }}
      </p>
    </div>
    <div class="button-container">
      <centric-button
        class="demo-button"
        size="small"
        type="icon-button-fourth-dark"
        iconId="trash_r"
        [ariaLabel]="'Remove ' + file.name + ' file'"
        (click)="deleteAttachment(i)"
      ></centric-button>
    </div>
  </div>
</div>

<div
  *ngIf="filesList !== undefined && filesList.length > 0"
  class="centric-upload-files-list-container">
  <div class="upload-files-list" *ngFor="let file of filesList; let i = index">
    <centric-icon2 class="icon-file" svgIcon="file_r" size="48">
    </centric-icon2>
    <div class="upload-area-description file-content">
      <span> {{ file.name }}</span>
      <p class="line-clamp-1">
        Date changed: {{ currentDate | date : "dd/MM/YYYY" }}
      </p>
    </div>
    <div class="button-container">
      <centric-button
        class="demo-button"
        size="small"
        type="icon-button-fourth-dark"
        iconId="trash_r"
        [ariaLabel]="'Remove ' + file.name + ' file'"
        (click)="deleteFile(i)"
      ></centric-button>
    </div>
  </div>
</div>
